<div class="">
  <form
    *ngIf="form"
    [formGroup]="form"
    (ngSubmit)="search()"
    class="flex items-center justify-start py-3 px-3 gap-7"
  >
    <div>
      <label for="" class="pr-2">From :</label>
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="start_date"
          formControlName="start_date"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="start_date"
        ></mat-datepicker-toggle>
        <mat-datepicker #start_date></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <label for="" class="pr-2">To :</label>
      <!-- <input class="ml-2 p-1 ring-0 outline-none border rounded" type="text" /> -->
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="end_date" formControlName="end_date" />
        <mat-datepicker-toggle
          matSuffix
          [for]="end_date"
        ></mat-datepicker-toggle>
        <mat-datepicker #end_date></mat-datepicker>
      </mat-form-field>
    </div>

    <button
      type="submit"
      class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
    >
      Search
    </button>
  </form>
</div>

<!-- <div class="float-left">
  <mat-paginator
    #paginator
    [length]="stats.length"
    [(pageIndex)]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="LimitStats($event)"
    showFirstLastButtons
  ></mat-paginator>
</div> -->

<div *ngIf="loading" class="py-36">
  <app-e-loading></app-e-loading>
</div>

<table
  *ngIf="!loading"
  class="text-center xtable w-full"
  #mytable
  mat-table
  [dataSource]="dataSource"
  matSort
  matSortActive="ID"
  matSortDirection="desc"
>
  <ng-container matColumnDef="stock">
    <th width="10%" mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
    <td mat-cell *matCellDef="let element" class="">
      {{ element.stock }}
    </td>
  </ng-container>

  <ng-container matColumnDef="fluctuations">
    <th width="10%" mat-header-cell *matHeaderCellDef mat-sort-header>
      Fluctuations
    </th>
    <td mat-cell *matCellDef="let element" class="">
      {{ element.fluctuations || "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="max_fall">
    <th width="10%" mat-header-cell *matHeaderCellDef mat-sort-header>
      Max Fall
    </th>
    <td mat-cell *matCellDef="let element" class="">
      {{ element.max_fall || "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="max_rise">
    <th width="10%" mat-header-cell *matHeaderCellDef mat-sort-header>
      Max Rise
    </th>
    <td mat-cell *matCellDef="let element" class="">
      {{ element.max_rise || "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="chart">
    <th width="30%" mat-header-cell *matHeaderCellDef mat-sort-header>Chart</th>
    <td mat-cell *matCellDef="let element" class="px-3">
      <app-line-chart
        *ngIf="element.prices"
        [data]="element.prices"
        [labels]="element.labels"
      ></app-line-chart>
      <p *ngIf="!element.prices">{{ element?.message }}</p>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div *ngIf="stats?.length == 0 && !loading">
  <p class="py-36 text-center">No result found!</p>
</div>

<div class="float-left">
  <mat-paginator
    #paginator
    [length]="stats.length"
    [(pageIndex)]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="LimitStats($event)"
    showFirstLastButtons
  ></mat-paginator>
</div>
